@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="page-content" ng-app="formBuilder">
            <form-builder form="form"></form-builder>
        </div>
    </div>
</div>
